<div class="edit-page-wide">
	<div class="topper"></div>
	<div class="main-content">
		<h1>BusinessLeads#index</h1>
		<p>Find me in app/views/business_leads/index.html.erb</p>


		<%= @lead.first_name %> <%= @lead.last_name %><br>
		<%= @lead.email %><br>
		<%= @lead.phone %><br>
		<%= @lead.company %><br>
		<%= @lead.website %><br>
		<%= @lead.address %><br>
		<%= @lead.city %><br>
		<%= @lead.state %><br>
		<%= @lead.zip_code %><br>
		<%= @lead.message %><br>
		
	</div>
	<div class="bottom"></div>
</div>