<div class='edit-page-wide'>
	<h2>All Dem Widgets</h2>
		<%= link_to "New Widget", new_widget_path, :class => 'full-width-clearer' %>
		<div class="all-widget-previews">
			<% @widgets.each do |w| %>
				<div class="widget-preview">
					<div class="full-width-clearer">
						<% unless w.text_1 == nil || w.text_1.empty? %>
							<%= w.text_1.html_safe %>
						<% end %>
					</div>
					<% if w.widget_image_file_name %>
						<%= image_tag w.widget_image.url(:side_bar) %>
					<% end %>
					<p class="semi-bold-item full-width-clearer"><%= w.title %></p>
					<% unless w.text_2 == nil%>
						<p class="full-width-clearer"><%= w.text_2.html_safe %></p>
					<% end %>
					<% unless w.bottom_title == nil%>
						<p class="full-width-clearer"><%= w.bottom_title.html_safe %></p>
					<% end %>
					<p class="full-width-clearer">Active Pages: <%= active(w).to_sentence %></p>
					<%= link_to "Edit", edit_widget_path(w.id) %>
					<%= link_to "Delete", { :action => "destroy", :id => w.id }, :confirm => 'Are you sure?', :method => :delete %>
				</div>
			<% end %>
		</div>
</div>