
<div id="footer-container">
	<div id="footer-topper"></div>
	<div id="footer">
		
		<ul id="useful-links">
			<h2 class="cafeta full-width-clearer">Useful Links</h2>
			<li><%= link_to 'About Us', :about_us, :class => "footer-link" %></li>
			<li><%= link_to 'Contact', :contact, :class => "footer-link" %></li>
			<li><%= link_to 'Terms of Service', :terms_of_service, :class => "footer-link" %></li>
			<li><%= link_to 'Policy', :privacy_policy, :class => "footer-link" %></li>
			<li><a class="footer-link" href="http://twitter.com/bigblockdeals" target="blank">Twitter</a></li>
			<li><a class="footer-link-last" href="http://www.facebook.com/pages/Big-Block-Deals/182429288484620" target="blank">Facebook</a></li>
			<li class="footer-link">Copyright 2011 Big Block Deals</li>
			<img src="/images/footer-divider.png"/>
		</ul>
		
		<div id="recommendations">
			<h2 class="cafeta full-width-clearer">Recommendations?</h2>
			<span class="recommendation-text">Know a company that offers</span>
			<img src="/images/bottom-all-icons.png">
			<span class="recommendation-text bottom-rec-text">services?</span>
			<div class="full-width-clearer">
				<%= link_to 'Contact Us', :contact, :class => "recommendation-text" %><span class="recommendation-text"> and let us know!</span>
			</div>
		</div>
		
		<img id="footer-glare" src="/images/footer-glare.png"/>
		
	</div>
</div>